[Unit]
Description=XMRig Service
After=network.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/usr/bin/xmrig -c /var/lib/xmrig/config.json -l /var/log/xmrig/xmrig.log -B
Restart=always

[Install]
WantedBy=multi-user.target
